body{
    font-family: "open-sans";
    font-size: 22;
    background-color: rgb(1,167,190);
    background-color:  rgba(1, 168, 190, 0.639);
    /* background-color:  rgba(1, 168, 190, 0.309); */
}

h1{
    font-family: "open-sans";
    font-weight: 100;
    
}

*{
    margin: 0%;
    
}
.header
{
    width: auto;
    height: auto;
    text-align: center;
    padding: 1%;
    background-color:rgba(1, 168, 190, 0.309);
 
}

.logo_img{
    width: 400px;
    width: 700px;
}

.header_options{
    float: right;
    border: 1px solid rgb(255,255,255);
    width: auto;
    height: auto;
}

li{
    font-family: "Play", sans-serif;
    font-size: 18px;
}

.main_table{
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 3%;
    padding: 5%;
    padding-left:auto;
    padding-right: auto;
    height: auto;
    width: auto;
    font-size:16px;
    border-spacing: 17px 5px;
    min-width: rem-calc(640);
    
}
@media screen and (max-width: 600px) {
   .faculty_td{
      font-size: 10px;
      padding-left: 2rem;
    /* font-size: 18px; */
    max-width: auto;
    }

    .more_details{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 2%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    }
  }
.mw-100 {
    min-width:100%;
  }
.faculty_photo{
    width: 170px;
    height: 170px;
}
.faculty_name{
    padding-left: 1rem;
}
.faculty_td{
    padding-left: 2rem;
    font-size: 18px;
    max-width: auto;
    width: auto;

    
}


.main_div{
    margin-left: auto !important;
    margin-right:auto !important;
    height: auto;
    width: auto;
    background-color:  white;
    padding: 3%;
    margin-top: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.all_f{
    text-align: center;
    font-size: 38px;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
h2{
    margin-top: -20px;
    padding-left:18px;
    font-size: 28px;
    margin-bottom: -16px;
    font-family: "Play", sans-serif;
    font-weight: 100;
}

nav ul li{
    font-family: "Play", sans-serif;
    font-weight: 600;
}
.wrapper.four {
    font-size: 22px;
    font-family: "Play", sans-serif;
}
.four .type{
    padding: 2rem 1rem;
    width: auto;
    margin: auto;
}
.four h3 {
    width: 19.5ch;
    border-right: 4px solid black;
    font-weight: 700;
    margin: 2rem auto;
    letter-spacing: 2px;
    margin-bottom: -22px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.more_details{
    margin-left: 25%;
    margin-right: 25%;

    height: auto;
    background-color: white;
    margin-top: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.details{
    height: auto;
    width: auto;
    padding: 5%;
}

.external_div{
    width: 100%;
    height: 100%;
}
.f_image2{
    height: auto;
    width: auto;
    text-align: center;
    
}

.faculty_photo{
    margin-top: 3%;
    border: 2px solid rgb(0, 0, 0);
}

.header2{
    background-color:  rgba(1, 168, 190, 0.309);
    height:auto;
    padding: 1%;
    font-size: 28px;
    font-family:'open-sans';
    font-weight: 400;
}

a{
    text-decoration: none;

}
.mulogo{
    height: 40px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
    padding-right: 21%;
}
.header_fot{
    
    margin-left: 50%;
}

.f_details{
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
p{
    margin-top: 10px;
    font-size: 18px;
    font-family: "Play", sans-serif;
}

b{
    font-size: 20px;
    letter-spacing: 0.3 px;
    font-weight:600px;
    font-family: "Play", sans-serif;

}
.p_marginleft{
    margin-left: 20px;
}

.f_main{
    padding-left: 5%;
    padding-right: 5%;
}
