

body{
    background-color: rgb(1,167,190);
    color: black;
   
}


form{
    /* height:80%; */
    /* width: 27%; */
    background-color: white;
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* top: 50%; */
    /* left: 50%; */
    border-radius: 10px;
    backdrop-filter: blur(50px);
    border: 2px solid white;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 38px;
    box-shadow: 7px 12px 5px 3px black;

    
    
    
}


.Welcome{

  
    color: black;
    width: 100%;
    border-radius: 10px/41px; 
    margin-top: -8px;
}
.center_img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 25%;

}
.image_size{
    height: 70%;
    width: 86%;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}
form {
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    letter-spacing: 0.4px;
    background-color: rgb(243, 240, 240);
    border-color: black;
    font-size:19;
    
}

form h3{
    font-size: 64px;
    font-weight: 10;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    font-family: 'Josefin Sans', 'sans-serif';
    letter-spacing: 1.5px;
    text-shadow: 4px 4px 4px rgb(134, 128, 128);
   
}

label{
    display: block;
    margin-top: 13px;
    font-size: 22;
    font-weight: 5000;
    border-color: black;
    text-shadow: 4px 4px px rgb(0, 0, 0);
    
}
.Signininput{
    height: 47px;
    width: 100%;
  
    background-color: rgba(211, 200, 200, 0.6);
    border-radius: 1px;
    padding: 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color:  black;
    border-radius: 12px;
}
::placeholder{
    color: black;
}
button{
    margin-top: 25px;
    margin-left: 130px;
    width: 33%;
    background-color: #ffffff;
    color: #080710;
    padding: 7px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    font-family: 'Josefin Sans', 'sans-serif';
    border-color: black ;
    text-align: center;
    letter-spacing: 2px;
    
}
.upass
{   
    margin-top: 30px;
    text-align: center
;

}

.btn{
    font-weight: 800;
}
.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

.signupCSS
{
   padding-left: 110px;
   color: black;
   text-decoration: none;
   text-shadow: 4px 4px px rgb(0, 0, 0);
}

.fgpcss
{
    
    color: black;
    
    text-shadow: 4px 4px px rgb(0, 0, 0);
}

a
{
    text-decoration: none;
  
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  
  .container{
    padding-top:50px;
    margin: auto;
  }

.right{

    text-align: right;
}

i{
    margin-left: -30px; 
    cursor: pointer;
    user-select: none;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.snow, .snow:before, .snow:after {
    max-height: 100%;
    overflow-y: hidden;
    position: absolute;
    top: -600px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(5px 5px at 141px 461px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 516px 309px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 144px 114px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 24px 226px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 167px 12px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 358px 439px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 228px 482px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 481px 560px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 231px 114px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 168px 200px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 84px 183px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 533px 181px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 449px 163px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 82px 16px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 86px 303px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 450px 386px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 513px 354px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 590px 80px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 333px 562px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 316px 48px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 507px 292px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 293px 57px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 589px 137px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 448px 105px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 134px 488px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 451px 490px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 152px 395px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 371px 453px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 130px 444px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 234px 505px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 211px 365px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 486px 322px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 328px 393px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 198px 228px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 289px 366px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 60px 87px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 92px 304px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 472px 196px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 42px 241px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 465px 593px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 93px 247px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 186px 229px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 163px 391px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 526px 371px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 365px 97px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 353px 465px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 319px 594px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 180px 284px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 409px 473px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 334px 92px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 156px 403px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 421px 444px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 532px 330px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 241px 344px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 331px 183px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 556px 522px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 145px 326px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 486px 92px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 439px 76px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 311px 559px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 423px 437px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 563px 479px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 217px 476px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 329px 156px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 77px 395px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 425px 434px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 33px 403px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 486px 549px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 419px 290px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 454px 497px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0));
    background-size: 600px 600px;
    animation: snow 15s linear infinite;
    content: "";
  }
  
  .snow:after {
    margin-left: -200px;
    opacity: 0.8;
    animation-duration: 15s;
    
    filter: blur(3px);
  }
  
  .snow:before {
    animation-duration: 15s;
    animation-direction: reverse;
    margin-left: -300px;
    opacity: 0.65;
    filter: blur(1.5px);
  }
  
  @keyframes snow {
    to {
      transform: translateY(600px);
    }
  }